{% extends "searchapp/base.html" %}

{% block extra-head %} <title> Search </title> {% endblock %}

{% block inside-green-layout %}

<h3>Elastic Search Box</h3>
{% csrf_token %}
<form class="input-group col-md-12" method="get" action="/searchapp/results/">
  <input type="text" class="  search-query form-control" placeholder="Search for a place" id="search" name="search" autocomplete="off" />
    <span class="input-group-btn" method="get" action="/searchapp/search/">
      <button class="btn btn-danger" type="submit" >
        <span class=" glyphicon glyphicon-search"></span>
      </button>
    </span>
</form>
<ul id="search-results" class="list-unstyled col-md-6">
</ul>

{% endblock %}
